@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Montserrat:wght@100..900&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    line-height: 1.6;
    font-size: 18px;
    background-color: rgb(250, 235, 209);
    font-size: 18px;
    padding: 10%;
}


html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: 800;
    text-align: center;
    font-size: 34px;
}

section {
    padding: 4rem 0 2rem;
}

.container {
    max-width: 1024px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.main {
    overflow-x: hidden;
}

a {
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}



.button {
    display: inline-block;
    background-color: orange;
    color: white;
    /* padding: 1rem 2rem; */
    padding: 1em;
    font-weight: 900;
    transition: .3s;
    border: none;
    margin-top: 10px;
    border-radius: 8px;
    /* width: 100%; */
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.button:hover {
    background-color: rgb(214, 145, 16);
}

.content {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 20px;
}

.btn_data {
    font-size: 16px;
    font-weight: 500;
    flex-wrap: nowrap;
    text-transform: lowercase;
}

