@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Montserrat:wght@100..900&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    line-height: 1.6;
    background-color: rgb(223, 206, 223);
    font-size: 18px;
    
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.phenom_list {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 4rem 0 2rem;
}

.container {
    max-width: 1024px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    background-color: white;
    padding: 20px;
    width: 90%;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.main {
    overflow-x: hidden;
}

.section_title {
    font-size: 2.5rem;
    color: var(--title-color);
    margin-bottom: .5rem;
    text-align: center;
    background: linear-gradient(#b498ee, #3d046e);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.bd_grid {
    display: grid;
    gap: 1.5rem;
}


a{
    text-decoration: underline;
    cursor: pointer;
}


.intro_section {
    padding: 3rem 0 3rem;
    background-color: #401269;
}

.text {
    font-size: 45px;
    font-family: 'Aclonica', 'sans-serif';
    text-align: center;
    /* border-right: 2px solid rgb(255, 255, 255); */
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width: 0;
    color: aliceblue;
    animation: typing 4s steps(30, end) infinite, blink 0.6s step-end infinite;
}

@keyframes typing {
    0% {
        width: 0;
    }

    50% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.home_data {
    text-align: center;
}

.home_img {
    width: 280px;
    border-radius: .5rem;
    justify-self: center;
}


.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: #401269;
    box-shadow: 0px 0px 10px 0px #00000080;
    padding: .5rem;
    display: flex;
    opacity: .9;
    z-index: 10;
    transition: .4s;
    border-radius: 5px;
}

.scrollup_icon {
    color: white;
}

.scrollup:hover {
    background-color: #8e2de2;
    opacity: 1;
}

/* show scroll */
.show-scroll {
    bottom: 5rem;
}


::-webkit-scrollbar {
    width: .6rem;
    background-color: rgb(128, 128, 128);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #4a484b;
    width: .6rem;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #595163;
  }
  

.accordion_item{
    border-bottom: 1px solid #ddd;
}

.accordion{
    margin-bottom: 40px;
}

.accordion_header{
    width: 100%;
    text-align: left;
    background: #f1f1f1;
    border: none;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.accordion_header:hover{
    background: #e0e0e0;
}

.accordion_body{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding:  0 15px ;
}

.accordion_body p {
    margin: 15px 0;
    line-height: 1.5;
    color: #555;
}

.accordion_item.active .accordion_body{
   max-height: 100px;
}