@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Montserrat:wght@100..900&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    line-height: 1.6;
    font-size: 18px;
    background-color: #195c3d;
    font-size: 18px;
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin: 0;
}


html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: 800;
    text-align: center;
    font-size: 34px;
    margin: 15px 0;
}

section {
    padding: 4rem 0 2rem;
}

.container {
    max-width: 1024px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: center;
}

.main {
    overflow-x: hidden;
}

a {
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}



.button {
    display: inline-block;
    background-color: rgba(0, 255, 42, 0.568);
    color: white;
    padding: 12px 20px;
    font-weight: 900;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin: 15px 0;
    font-size: 18px;
}

.button:hover {
    background-color: rgb(214, 145, 16);
}

.content {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 20px;
}

.btn_data {
    font-size: 16px;
    font-weight: 500;
    flex-wrap: nowrap;
    text-transform: lowercase;
}